venv/
Back-end/Backend/__pycache__/settings.cpython-313.pyc
Back-end/Backend/__pycache__/settings.cpython-313.pyc
Back-end/Backend/__pycache__/settings.cpython-313.pyc
Back-end/Backend/__pycache__/urls.cpython-313.pyc
