.formCenter {
  padding: 20px;
  width: clamp(300px, 50%, 600px);
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.redirectText {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.redirectText a {
  color: #007bff;
  text-decoration: none;
}

.redirectText a:hover {
  text-decoration: underline;
}
